# TM Project

### Importing the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#importing the data

path_corpus = "/Users/franz/Desktop/TM Project/corpus/"

ru_en = pd.read_csv(path_corpus + "ru-en/scores.csv")
de_en = pd.read_csv(path_corpus + "de-en/scores.csv")
cs_en = pd.read_csv(path_corpus + "cs-en/scores.csv")
zh_en = pd.read_csv(path_corpus + "zh-en/scores.csv")
en_zh = pd.read_csv(path_corpus + "en-zh/scores.csv")
en_fi = pd.read_csv(path_corpus + "en-fi/scores.csv")

### Data exploration

In [3]:
descriptions = ["Russian into English", "German into English", "Czech into English", "Chinese into English", "English into Chinese", "English into Finish"]

In [4]:
rows = []
zscores = []
avgscores = []
annots = []

i = 0

for element in [ru_en, de_en, cs_en, zh_en, en_zh, en_fi]:
    rows.append(element.shape[0])
    zscores.append(np.round(element["z-score"].mean(),2))
    avgscores.append(np.round(element["avg-score"].mean(), 2))
    annots.append(np.round(element["annotators"].mean(),2))
    i += 1                   
    
exploration_df = pd.DataFrame([rows, zscores, avgscores, annots]).T.rename(columns={0:"rows", 1:"avg z-score", 2:"avg avg-score", 3:"avg annotators"})
exploration_df["description"] = descriptions
exploration_df = exploration_df.set_index("description")
exploration_df

                         rows  avg z-score  avg avg-score  avg annotators
description
Russian into English  17980.0         0.01          74.50            1.30
German into English   21704.0         0.00          71.85            1.50
Czech into English    11585.0        -0.03          69.24            1.89
Chinese into English  26419.0        -0.05          66.06            1.42
English into Chinese  10221.0        -0.06          65.98            1.58
English into Finish    6748.0        -0.14          45.12            1.23

In [5]:
exploration_df.corr()

                    rows  avg z-score  avg avg-score  avg annotators
rows            1.000000     0.597505       0.579839       -0.105454
avg z-score     0.597505     1.000000       0.975645        0.310459
avg avg-score   0.579839     0.975645       1.000000        0.417110
avg annotators -0.105454     0.310459       0.417110        1.000000

As there are only 6 different types of translations, these correlations might be not very meaningful!